/* body {
  text-align: center;
  margin: 10%;
  font-size: 20px;
} */

html {
  scroll-behavior: smooth;
}
.collectBtn{
  text-align: center;
}

.btnC{
  margin-bottom: 70px;
}

.upcomming_war #expireTime {
  font-size: 48px;
  color: #fff;
}

.logout-button {
  position: absolute;
  right: 30px;
  top: 30px;
}

.account-dragon-row-input {
  width: 100px;
  /* height: 20px; */
  margin-left: 15px;
}

.dragon-avatar-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragon-avatar-image-pattern {
  position: absolute;
}

.dragon-avatar-image-background {
  position: absolute;
}

.dragon-avatar-image {
  z-index: 0;
}

.options{
  margin: 15px;
}

.space{
  margin:40px;
}
